* {
    text-align: center;
}

.mаin {
    box-shadow: -5px 4px 15px 4px white;
    background: linear-gradient(to bottom right, #ADEFD1FF, #00203FFF);
    border-radius: 10px;
    box-shadow: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.sub-main {
    margin-right: 1.5em;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.main, .here {
    font-size: 2.5rem;
    font-weight: bold;
}

.main, .here1 {
    font-size: 2rem;
    font-weight: bold;
}

.main, .here2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.main, .here3 {
    text-decoration: line-through;
}

.here-border {
    border: 2px solid black;
    transition: 1s;
    user-select: none;
}

.line-through {
    text-decoration: line-through;
}

.here-border:hover {
    transform: scale(0.8);
    transition: 1s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: perspective(1px) translateZ(-1);
}

.here-border, .here3 .here4 {
    font-size: 1.45em;
    font-weight: bold;
}

.size {
    font-size: 1.4em;
    font-weight: bold;
}

.presentations {
    color: black;
    font-size: 2.5rem;
}

.bigger {
    font-size: 2em;
}

h1 {
    color: white;
}

.mаin, .p {
    font-size: 18px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 20px;
    margin-left: -7px;
    margin-right: -7px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.mein {
    user-select: none;
}

.position {
    position: flex;
    font-weight: bold;
}

:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
}

body {
    background-image: url(../img/Backgorund.gif);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

details {
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    animation-name: pls;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
}

summary {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--primColor);
    border: 2px solid var(--secoColor);
    border-radius: 10px;
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
    padding: 8px;
}

summary::before, summary::after {
    position: static;
    top: 0;
    left: 0;
}

summary::before {
    content: "";
}

summary::after {
    content: "Върни се обратно";
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

summary:hover {
    transform: scale(1.1);
}

summary::marker {
    font-size: 0;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] .menu {
    animation-name: menuAnim;
}

details[open] summary::before {
    content: "X";
}

details[open] summary::after {
    content: "";
}

.menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
}

.menu a {
    margin: 0 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
}

.menu a:nth-of-type(1) {
    padding-top: 24px;
}

.menu a:nth-last-of-type(1) {
    border-bottom: none;
}

.menu a:hover {
    filter: brightness(200%);
}

details::before {
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
}

details[open]::before {
    animation: fadeMe 300ms linear forwards;
}

@keyframes menuAnim {

    0% {
        height: 0;
    }
    100% {
        height: 70px;
    }

}

@keyframes fadeMe {

    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }

}

@keyframes pls {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
    }

}
  

<!-- /* /////////////Mobile Responsive/////////////////// */ -->

    @media (max-width: 1280px) and (max-height: 1400px) {

        .main, .p {
            font-size: 25px;
            margin: 10px;
            margin-top: 15px;
            margin-bottom: 30px;
            padding: 20px;
            margin-left: -7px;
            margin-right: -7px;
        }

        summary {
            text-align: center;
            display: flex;
            justify-content: center;
            background-color: var(--primColor);
            border: 2px solid var(--secoColor);
            border-radius: 10px;
            color: var(--secoColor);
            cursor: pointer;
            user-select: none;
            outline: none;
            transition: transform 200ms ease-in-out 0s;
            padding: 0.1px;
        }

        details {
            margin: 40px;
            margin-left: 23.5px;
            animation-name: pls;
            animation-duration: 1;
            animation-direction: alternate-reverse;
        }

        .gospoja {
            height: auto;
            width: 100%;
        }
        
        .sub-main {
            margin-top: 2.6em;
            margin-right: 0.5em;
            margin-left: 0.5em;
            margin-bottom: 1em;
        }

        .here-border:hover {
            transform: scale(1.01);
            transition: 1s;
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
            transform: perspective(1px) translateZ(-1);
            filter: blur(4px);
        }
        
        .here-border:active {
            transform: scale(1.01);
            transition: 1s;
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
            transform: perspective(1px) translateZ(-1);
            filter: blur(4px);
        }

        .menu {
            display: flex;
            padding-right: 2em;
            padding-left: 2em;
        }

        summary {
            padding: 20px;
        }

        .position {
            display: flex;
            justify-content: center;
        }

    }

    <!-- /* /////////////Mobile Responsive/////////////////// */ -->

    <!-- /* /////////////Desktop Responsive/////////////////// */ -->

    @media (min-width: 1280px) and (min-height: 720px) {

        .main, .p {
            font-size: 22px;
            margin: 10px;
            margin-top: 15px;
            margin-bottom: 30px;
            padding: 20px;
            margin-left: -7px;
            margin-right: -7px;
        }

        .mаin {
            box-shadow: -5px 4px 15px 4px white;
            background: linear-gradient(to bottom right, #ADEFD1FF, #00203FFF);
            border-radius: 10px;
            box-shadow: white;
            font-family: 'Yanone Kaffeesatz', sans-serif;
            margin-right: 500px;
            margin-left: 500px;
        }
        
        .here, .here1, .here2 {
            font-size: 30px;
        }
        
        .sub-main {
            margin-right: 1.5em;
            margin-left: 1.5em;
            margin-bottom: 1.5em;
        }

        .menu {
            margin-left: 20em;
        }

        summary {

            margin-left: 400px;
            margin-right: 400px;
            
        }

    }

    <!-- /* /////////////Desktop Responsive/////////////////// */ -->


    <!-- /* ///////////////Galaxy fold responsive or displays 280 x 653///////////////// */ -->


    @media (width: 280px) and (height: 653px) {
        
        .main, .p {
            font-size: 25px;
            margin: 10px;
            margin-top: 15px;
            margin-bottom: 30px;
            padding: 20px;
            margin-left: -7px;
            margin-right: -7px;
        }

        summary {
            text-align: center;
            display: flex;
            justify-content: center;
            background-color: var(--primColor);
            border: 2px solid var(--secoColor);
            border-radius: 10px;
            color: var(--secoColor);
            cursor: pointer;
            user-select: none;
            outline: none;
            transition: transform 200ms ease-in-out 0s;
            padding: 0.1px;
        }

        details {
            margin: 40px;
            margin-left: 23.5px;
            animation-name: pls;
            animation-duration: 1;
            animation-direction: alternate-reverse;
        }

        .gospoja {
            height: auto;
            width: 100%;
        }
        
        .sub-main {
            margin-top: 2.6em;
            margin-right: 0.5em;
            margin-left: 0.5em;
            margin-bottom: 1em;
        }

        .here-border:hover {
            transform: scale(1.01);
            transition: 1s;
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
            transform: perspective(1px) translateZ(-1);
            filter: blur(4px);
        }
        
        .here-border:active {
            transform: scale(1.01);
            transition: 1s;
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
            transform: perspective(1px) translateZ(-1);
            filter: blur(4px);
        }

        .menu {
            display: flex;
            padding-right: 2em;
            padding-left: 2em;
        }

        summary {
            padding: 20px;
        }

        .position {
            display: flex;
            justify-content: center;
        }
    }

<!-- /* ///////////////Galaxy fold responsive or displays 280 x 653///////////////// */ -->

.loader {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
    top: 0;
    margin-left: -8px;
}

.loader>div {
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

.content {
    display: none;
    
}

@keyframes spin{

    100%{
        transform: rotate(360deg);
    }

}
