* {
    text-align: center;
}

.color-red {
    color: rgb(255, 0, 0);
    user-select: none;
}

.color-green {
    color: rgb(0, 255, 0);
    user-select: none;
}

.this-talking-div {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin-left: 30rem;
    margin-right: 30rem;
    font-weight: bold;
    cursor: default;
}

.this-presentations-border {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin-left: 30rem;
    margin-right: 30rem;
    font-weight: bold;
    cursor: default;
}

.this-ul {
    padding: 20px; 
    list-style-type: disc;
}

.this-li {
    margin: 0;
    padding: 0;
}

.this-p {
    margin-left: 10px;
}

.main {
    box-shadow: -5px 4px 15px 4px #ffff;
    /* background-color: #576CA8; */
    /* background-color: #7D4F50; */
    background: linear-gradient(to bottom right, rgb(143, 197, 173), #00203FFF);
    border-radius: 10px;
}

.main, .p {
    font-size: 18px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 20px;
    margin-left: -7px;
    margin-right: -0.1px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.mein {
    user-select: none;
}

:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
}

body {
    background-image: url(../img/Backgorund.gif);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    animation-name: overflowShow;
    animation-duration: 1s;
}

@keyframes overflowShow {

    0% {
        overflow: hidden;
    }

    100% {
        overflow: visible;
    }

}

h1 {
    color: white;
}



#messenger {
    animation-name: wait;
    animation-duration: 10s;
}

@keyframes wait {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes menuAnim {

    0% {
        height: 0;
    }
    100% {
        height: 70px;
    }

}

@keyframes fadeMe {

    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }

}

@keyframes pls {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }

}

/* start of zapishi se navigation button */

.position {
    position: absolute;
}

details {
    margin-left: 25px;
    margin-top: -75px;
    animation-name: pls;
    animation-duration: 0.5s;
    animation-direction:normal;
}

summary {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--primColor);
    border: 2px solid var(--secoColor);
    border-radius: 10px;
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
    padding: 15px;
}

summary::before, summary::after {
    position: static;
    top: 0;
    left: 0;
}

summary::before {
    content: "";
}

summary::after {
    content: "Разпределение";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;
}

summary:hover {
    transform: scale(0.9);
}

summary::marker {
    font-size: 0;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] .menu {
    animation-name: menuAnim;
    transition: 1s;
}

details[open] .menu:hover {
    transform: scale(0.9);
    transition: 1s;
}

details[open] summary::before {
    content: "X";
    padding-right: 2.2vmax;
    margin-left: 2.2vmax;
    color: black;
}

details[open] summary::after {
    content: "";
}

.menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
    position: fixed;
}

.menu a {
    margin: 0 16px;
    color: blue;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
}

.menu a:nth-of-type(1) {
    padding-top: 24px;
}

.menu a:nth-last-of-type(1) {
    border-bottom: none;
}

.menu a:hover {
    filter: brightness(200%);
}

details::before {
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
}

details[open]::before {
    animation: fadeMe 300ms linear forwards;
}

/* end of zapishi se navigation button */

/* start of vremetraene navigation button */

.vr-pos {
    display: flex;
    justify-content: flex-end;
}

.vr-det {
    margin-right: 1.3em;
    animation-name: pls;
    animation-duration: 0.5s;
    animation-direction:normal;
}

.vr-det[open] .vr-menu {
    animation-name: menuAnim;
    transition: 1s;
}

.vr-det[open] .vr-menu:hover {
    transform: scale(0.9);
    transition: 1s;
}

.vr-det[open] .vr-sum::before {
    content: "X";
    padding-right: 2.2vmax;
    margin-left: 2.2vmax;
    color: black;
}

.vr-det[open] .vr-sum::after {
    content: "";
}

.vr-det::before {
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
}

.vr-det[open]::before {
    animation: fadeMe 300ms linear forwards;
}

.vr-sum {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--primColor);
    border: 2px solid var(--secoColor);
    border-radius: 10px;
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
    padding: 15px;
}

.vr-sum::before, .vr-sum::after {
    position: static;
    top: 0;
    left: 0;
}

.vr-sum::before {
    content: "";
}

.vr-sum::after {
    content: "Времетраене";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;
}

.vr-sum:hover {
    transform: scale(0.9);
}

.vr-sum::marker {
    font-size: 0;
}

.vr-sum::-webkit-details-marker {
    display: none;
}

.vr-menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
    position: fixed;
}

.vr-menu a {
    margin: 0 16px;
    color: blue;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
}

.vr-menu a:nth-of-type(1) {
    padding-top: 24px;
}

.vr-menu a:nth-last-of-type(1) {
    border-bottom: none;
}

.vr-menu a:hover {
    filter: brightness(200%);
}

/* end of vremetraene navigation button */



<!-- /* /////////////Mobile Responsive/////////////////// */ -->

    @media (max-width: 1280px) and (max-height: 1400px) {

        .main, .p {
            font-size: 25px;
            margin: 10px;
            margin-top: 15px;
            margin-bottom: 30px;
            padding: 20px;
            margin-left: -7px;
            margin-right: -7px;
        }

        summary {
            text-align: center;
            display: flex;
            justify-content: center;
            background-color: var(--primColor);
            border: 2px solid var(--secoColor);
            border-radius: 10px;
            color: var(--secoColor);
            cursor: pointer;
            user-select: none;
            outline: none;
            transition: transform 200ms ease-in-out 0s;
            padding: 0.1px;
        }

        summary::after {
            content: "Разпределение";
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: black;
            padding: 10px;
        }

        details {
            margin: 40px;
            margin-top: -2.7em;
            margin-left: 0.3em;
            animation-name: pls;
            animation-duration: 0.5s;
            animation-direction: alternate-reverse;
        }

        .position {
            transform: scale(0.7);
            margin-left: -1em;
        }

        .vr-pos {
            transform: scale(0.7);
            margin-left: 13em;
        }

        .vr-det {
            margin-right: 0.3em;
            animation-name: pls;
            animation-duration: 0.5s;
            animation-direction:alternate-reverse;
        }

        .vr-sum {
            text-align: center;
            display: flex;
            justify-content: center;
            background-color: var(--primColor);
            border: 2px solid var(--secoColor);
            border-radius: 10px;
            color: var(--secoColor);
            cursor: pointer;
            user-select: none;
            outline: none;
            transition: transform 200ms ease-in-out 0s;
            padding: 0.1px;
            padding-left: 10px;
            padding-right: 15px;
        }

        .vr-menu {
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 0px;
            margin-right: -80px;
        }

        .main {
            margin-top: 4px;
            margin-right: auto;
        }

        details[open] summary::before {
            content: "X";
            padding-left: 1.9em;
            padding-right: 1.9em;
            padding-bottom: 0.7rem;
            padding-top: 0.7rem;
            color: black;
        }

        .group {
            margin-top: 40px;
            margin-bottom: 75px;
        }

        .gospoja {
            height: auto;
            width: 100%;
        }

        .this-talking-div {
            display: flex;
            justify-content: center;
            border: 2px solid black;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
            cursor: default;
        }
        
        .this-presentations-border {
            display: flex;
            justify-content: center;
            border: 2px solid black;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
            cursor: default;
            font-size: 15px;
        }
        
        .this-ul {
            font-size: 15px;
            list-style-type: disc;
        }
        
        .this-li {
            margin: 0;
            padding: 0;
        }
        
        .this-p {
            margin-left: 2.5px;
        }

    }

    <!-- /* /////////////Mobile Responsive/////////////////// */ -->

    <!-- /* /////////////Desktop Responsive/////////////////// */ -->

    @media (min-width: 1280px) and (min-height: 720px) {

        .main, .p {
            font-size: 22px;
        }

        

    }

    <!-- /* /////////////Desktop Responsive/////////////////// */ -->


    <!-- /* ///////////////Galaxy fold responsive or displays 280 x 653///////////////// */ -->


    @media (max-width: 280px) and (max-height: 653px) {
        .main, .p {
            font-size: 25px;
            margin: 10px;
            margin-top: 15px;
            margin-bottom: 30px;
            padding: 20px;
            margin-left: -7px;
            margin-right: -1px;
        }

        summary {
            text-align: center;
            display: flex;
            justify-content: center;
            background-color: var(--primColor);
            border: 2px solid var(--secoColor);
            border-radius: 10px;
            color: var(--secoColor);
            cursor: pointer;
            user-select: none;
            outline: none;
            transition: transform 200ms ease-in-out 0s;
            padding: 0.1px;
        }

        summary::after {
            content: "Разпределение";
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: black;
            padding: 10px;
        }

        details {
            margin: 40px;
            margin-top: -2.7em;
            margin-left: -20px;
            animation-name: pls;
            animation-duration: 1s;
            animation-direction: alternate-reverse;
        }

        .position {
            transform: scale(0.7);
            margin-left: 0em;
        }

        .vr-det {
            margin-right: -45px;
            animation-name: pls;
            animation-duration: 0.5s;
            animation-direction:normal;
        }

        .vr-sum {
            text-align: center;
            display: flex;
            justify-content: center;
            background-color: var(--primColor);
            border: 2px solid var(--secoColor);
            border-radius: 10px;
            color: var(--secoColor);
            cursor: pointer;
            user-select: none;
            outline: none;
            transition: transform 200ms ease-in-out 0s;
            padding: 0.1px;
            margin-left: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .vr-menu {
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 0px;
            margin-right: -80px;
        }

        .vr-pos {
            transform: scale(0.7);
            margin-left: -2em;
        }

        .main {
            margin-top: 4px;
        }

        .vr-det[open] .vr-sum::before {
            content: "X";
            padding-right: 25px;
            margin-left: 10px;
            color: black;
        }

        details[open] summary::before {
            content: "X";
            padding-left: 1.9em;
            padding-right: 1.9em;
            padding-bottom: 0.7rem;
            padding-top: 0.7rem;
            color: black;
        }

        .group {
            margin-top: 40px;
            margin-bottom: 75px;
        }

        .gospoja {
            height: auto;
            width: 100%;
        }

        .this-talking-div {
            display: flex;
            justify-content: center;
            border: 2px solid black;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
            cursor: default;
        }
        
        .this-presentations-border {
            display: flex;
            justify-content: center;
            border: 2px solid black;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
            cursor: default;
            font-size: 15px;
        }
        
        .this-ul {
            font-size: 20px;
            list-style-type: disc;
        }
        
        .this-li {
            margin: 0;
            padding: 0;
        }
        
        .this-p {
            margin-left: 2.5px;
        }
    }

 /* ///////////////Galaxy fold responsive or displays 280 x 653///////////////// */ 

.loader {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
    top: 0;
}

.loader>div {
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

.content {
    display: none;
}

@keyframes spin{

    100%{
        transform: rotate(360deg);
    }

}

