* {

    text-align: center;

}

.main {

    /* margin-top: 35vh; */
    text-align: center;

}

.cards {

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1%;

    margin-bottom: 5vh;
    

}

.card-1-main {

    border: 2px solid white;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    

}

.card-1 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card-2-main {

    border: 2px solid white;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;

    margin-left: 5vw;

}

.card-2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card-3-main {

    border: 2px solid white;

    padding-top: 3%;
    padding-bottom: 3%;

    padding-left: 5%;
    padding-right: 5%;

    margin-left: 38.5%;
    margin-right: 38.5%;
    
    margin-top: 5vh;
    margin-bottom: 2vh;

}

.card-3 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

p {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 21.5px;

}

i {

    color: white;
    font-size: 6.5em;

}

.minimize {

    font-size: 5.5em;


}

a {

    color: rgb(90, 166, 236);

}