* {

    text-align: center;

}

body {

    background-color: #181A1B;
    overflow: hidden;

}

.main {

    /* margin-top: 35vh; */
    text-align: center;

}

.cards {

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1%;

    margin-bottom: 5vh;
    

}

.card-1-main {

    border: 2px solid white;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;

    transition: 2s;
    

}

.card-1-main:hover {

    border-radius: 10px;
    box-shadow: -14px 8px 0px 6px rgba(0,0,0,0.9);
    transition: 2s;

}

.card-1 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

p {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 21.5px;

}

i {

    color: white;
    font-size: 6.5em;

}

a {

    color: rgb(90, 166, 236);

}

@media(max-width: 950px) {

    body {

        overflow: visible;

    }

    .card-1-main {

        box-shadow: -10px 8px 0px 6px rgba(0,0,0,0.9);
        border-radius: 10px;

    }

}